@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #212529;
  overflow: hidden;
}
/* ======================== */

.mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
}

.mobile-text{
  text-align: center;  
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  line-height: 0;
}

/* ======================== */

.audio {
  padding: 0 15px;
  margin: 50px 130px 0;
}

.enabled {
  display: none;
}

.icon {
  transform: scale(2);
  color: rgb(73, 80, 87);
}

/* ======================== */

.text {
  display: flex;
  justify-content: center;

  margin: 70px auto 0;
  padding: 0 15px;
  max-width: 1200px;
  width: 100%;
}

.text-inner {
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;

  font-family: "M PLUS Code Latin";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

/* ======================== */

.keyborad {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  margin-top: 50px;
}

.raw {
  max-width: 630px;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 4px;
}

.button {
  font-family: "Titillium Web";
  font-size: 16px;
  font-weight: 600;

  outline: none;
  min-width: 40px;
  min-height: 40px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

.w-100 {
  width: 100%;
}
.space {
  width: 240px;
}

.blue {
  background-color: #ef476f;
}
.yellow {
  background-color: #ffd166;
}
.green {
  background-color: #83d483;
}
.red {
  background-color: #118ab2;
}
.pink {
  background-color: #06d6a0;
}
.orange {
  background-color: #073b4c;
}

span {
  padding: 0 1px;
}
