@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

.text-border {
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 2px 2px #000,
    -2px -2px #000, 2px -2px #000, -2px 2px #000;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.key-1 {
  background: #1a1b4b;
}
.key-2 {
  background: #292a73;
}
.key-3 {
  background: #3e4491;
}
.key-4 {
  background: #3a9efd;
}
.key-5 {
  background: #f7a400;
}
.key {
  width: 55px;
  height: 47px;
  position: relative;
}
.key-en {
  position: absolute;
  top: 2px;
  left: 13px;
}
.key-ru {
  position: absolute;
  bottom: 2px;
  right: 12px;
}

.keyru-ru {
  position: absolute;
  top: 2px;
  left: 13px;
}
.keyru-en {
  position: absolute;
  bottom: 2px;
  right: 12px;
}
.dropDown {
  position: relative;
}
.dropDown-list {
  display: flex;
  flex-direction: column;
  top: 40px;
  position: absolute;
}